@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*,
html {
    padding: 0;
    margin: 0;
    font-family: "Jost", serif;
    --dark-blue: #44559d;
    --light-blue: #98a1c3;
    --red: #d0471b;
    --light-yellow: #ede1bb;
    --dark-yellow: #c69528;
    --text-color: #161411;
    --text-color-second: #2b2922;
    --green: #44491d;
}

body {
    margin: 0;
    background-color: var(--light-yellow);
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    background-color: var(--green);
    color: var(--light-yellow);
    
}

footer a {
    color: var(--dark-yellow);
    text-decoration: none;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    margin: 0 1em;
}

nav button {
    font-size: 1.5em;
    font-variation-settings:
        "MORF" 0;
    padding: 20px;
    background-color: var(--red);
    border: none;
}

header {
    background-color: var(--red);
    margin-bottom: 3em;
    box-shadow: 0px 0px 30px 0 var(--text-color-second);
}

h1 {
    font-size: 3em;
    padding-left: 10px;
}